body {
  background-color: white;
  max-width: 85vw;
  margin: auto;
}

.App {
  background-color: #f6f6f0;
}

header {
  background-color: #ee7c40;
  padding: 12px;
  display: flex;
}

header img {
  width: 14vw;
  margin-right: 20px;
  margin-top: -10px;
  margin-bottom: -10px;
}

input {
  width: 65vw;
  box-sizing: border-box;
  border: none;
  font-size: 15px;
  background-color: white;
  padding: 10px;
}

li {
  font-size: 12px;
  margin: 8px;
}

.title {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.title span {
  font-size: 13px;
  text-decoration: none;
  color: gray;
}

.link {
  text-decoration: none;
  color: gray;
}

.articleFooter {
  color: gray;
}
